.App {
  text-align: center;
}


button{
  margin-top: 15px;
  margin-left: 50px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover{
  font-weight: 800;
}


